.added-info{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	background-color:#ffffff;
	overflow: hidden;
	box-shadow: 0 15px 40px rgba(157,174,185,0.15);
}
.added-info__item{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	padding:26px 23px 31px;
	box-shadow: -15px -10px 14px rgba(157,174,185,0.05);
	.added-info__icon{
		font-size: 40px;
		color: $default_color;
		> *{
			position: relative;
			top: 4px;
		}
		& + .added-info__description{
			margin-left: 20px;
		}
		.icon-684847{
			font-size: 36px;
		}
		.icon-45765{
			font-size: 43px;
		}
	}
	.added-info__description{
		color: $default_text_color;
	}
	.added-info__title{
		font-family: $default_font2;
		color: $default_color02;
		font-size: 20px;
		line-height: 30px;
		margin: 0;
		padding: 0;
		& + p{
			margin-top: 0;
		}
		span{
			display: inline-block;
			position: relative;
			&:before{
				content: '';
				display: block;
				position: absolute;
				bottom: 2px;
				width: 0%;
				height: 2px;
				margin: auto;
				left: 0;
				right: 0;
				background-color: $default_color02;
				transition: width .2s linear;
			}
		}
	}
	&:hover{
		.added-info__title{
			color: $default_color;
			span{
				&:before{
					width: 100%;
					background-color: $default_color;
				}
			}
		}
	}
	@include media-breakpoint-down(md) {
		padding:16px 23px 17px 18px;
		.added-info__icon{
			font-size: 29px;
			& + .added-info__description{
				margin-left: 20px;
			}
			.icon-684847{
				font-size: 25px;
			}
			.icon-45765{
				font-size: 31px;
			}
		}
		.added-info__title{
			font-size: 17px;
			line-height: 27px;
		}
	}
	@include media-breakpoint-down(sm) {
		justify-content: flex-start;
		padding:16px 23px 16px 45px;
		box-shadow: 0px 19px 40px rgba(157,174,185,0.15);
		.added-info__icon{
			font-size: 29px;
			.icon-684847{
				font-size: 26px;
			}
			.icon-45765{
				font-size: 29px;
			}
			& + .added-info__description{
				margin-left: 12px;
			}
		}
		.added-info__title{
			font-size: 16px;
			line-height: 25px;
		}
	}
}
