.tt-bloginfo{
	background-color: #ffffff;
	box-shadow: 0 9px 15px rgba(157, 174, 185, 0.15);
	padding:44px 33px;
	margin-bottom: 15px;
	@include media-breakpoint-up(lg) {
		min-height: 397px;
	}
	.tt-bloginfo__img{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		.tt-col-img{
			min-width: 69px;
			max-width: 69px;
			img{
				border-radius: 50%;
				overflow: hidden;
			}
			& + .tt-col-content{
				margin-left: 20px;
			}
		}
		.tt-text-01{
			font-size: 16px;
			line-height: 23px;
			color: $default_color02;
			font-family: $default_font2;
			font-weight: 600;
		}
		.tt-text-02{
			font-size: 14px;
			line-height: 20px;
			color: #a0a0a0;
		}
	}
	.tt-bloginfo__title{
		color: $default_color02;
		font-family: $default_font2;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		margin: 35px 0 0 0;
		position: relative;
		padding-bottom: 26px;
		& + *{
			margin-top: 0;
		}
	}
	.tt-bloginfo__marker{
		position: absolute;
		top: 0;
		right: 0;
	}
	@include media-breakpoint-down(md) {
		margin-bottom: 9px;
		box-shadow: 0 2px 11px rgba(157, 174, 185, 0.15);
		.tt-bloginfo__marker{
			max-width:100px;
		}
		.tt-bloginfo__title{
			padding-bottom: 20px;
		}
	}
	@include media-breakpoint-down(sm) {
		padding-left: 25px;
		padding-right: 25px;
		.tt-bloginfo__marker{
			max-width:80px;
		}
		.tt-bloginfo__title{
			margin-top: 25px;
			padding-bottom: 15px;
		}
	}
}