.box02-info{
	padding-top: 115px;
	background-color: #f1f3f5;
	background-position: 25% center;
	background-repeat: no-repeat;
	@media (min-width: 1700px){
		margin-bottom: 80px;
	}
	@media (min-width: 1561px){
		.box02-info__img{
			img{
				margin-bottom: -61px;
			}
		}
	}
	.info-list{
		margin-bottom: -6px;
	}
	.box02-info__img{
		@include media-breakpoint-up(lg) {
			padding-right: 60px;
			img{
				width: 100%;
			}
		}
	}
	.box02-info__description{
		padding: 0 25px 115px 27px;
		max-width: 610px;
	}
	@media (max-width: 1560px){
		overflow: hidden;
		padding:0 0 0 0;
		.box02-info__description{
			padding-bottom: 0;
		}
		padding: 120px 0;
	}
	@include media-breakpoint-down(lg) {
		.box02-info__img{
			padding-right: 30px;
		}
	}
	@include media-breakpoint-down(md) {
		background-position: 10% 0;
		background-size: 71%, 62%;
		padding: 80px 0 80px;
		.box02-info__img{
			padding-right: 15px;
		}
		.box02-info__description{
			max-width: inherit;
			padding: 0 25px 0 22px;

		}
	}
	@media (max-width: 790px){
		padding: 60px 0;
	}
	@include media-breakpoint-down(sm) {
		.box02-info__img{
			padding-right: 0px;
		}
	}
	@include media-breakpoint-down(xs) {
		padding-top: 58px;
		.box02-info__img{
			padding: 0 30px;
			img{
				width: 100%;
			}
		}
		.box02-info__description{
			max-width: inherit;
			padding: 29px 30px 0px;
		}
		background-image: none !important;
	}
}
.section-inner-round-layout02{
	.divider{
		height: 19px;
	}
}