.tt-box-wrapper{
	padding:65px 60px 72px;
	@include media-breakpoint-down(md) {
		padding:72px 15px 80px;
	}
	@media (max-width: 790px){
		padding:53px 15px 60px;
	}
}
.tt-box-indent{
	padding:30px;
	@include media-breakpoint-down(md) {
		padding:30px;
	}
	@include media-breakpoint-down(sm) {
		padding:20px;
	}
}