.box-info{
	background-color: #ffffff;
	padding:42px 30px 36px 40px;
	.box-info__img{
		color: $default_color;
		font-size: 40px;
	}
	.box-info__title{
		font-size: 20px;
		line-height: 30px;
		color: $default_color02;
		font-family: $default_font2;
		font-weight: 600;
		margin: 10px 0 0 0;
		padding: 0 0 7px 0;
		& + *{
			margin-top: 0;
		}
	}
	@include media-breakpoint-down(md) {
		font-size: 15px;
		line-height: 24px;
		br{
			display: none;
		}
		.box-info__img{
			font-size: 35px;
		}
		.box-info__title{
			font-size: 17px;
			line-height: 27px;
		}
	}
	@include media-breakpoint-down(sm) {
		max-width: 490px;
		margin-left: auto;
		margin-right: auto;
	}
}
.box-info-wrapper{
	margin-top: -30px;
	.box-info{
		margin-top: 30px;
	}
}