.imginfo{
	position: relative;
	width: calc(100% + 201px);
	right: -104px;
	position: relative;
	.imginfo__box{
		background-color: $default_color;
		color: #ffffff;
		position: absolute;
		left: -85px;
		bottom:38px;
		padding: 35px 40px 38px;
		box-shadow: 30px 30px 30px rgba(0,0,0,.2);
		min-width: 348px;
	}
	.imginfo__title{
		font-size: 20px;
		line-height: 30px;
		color: #ffffff;
		font-family: $default_font2;
		font-weight: 600;
		margin: 0;
		padding: 0 0 10px 0;
		& + *{
			margin-top: 0;
		}
	}
	address{
		color: #ffffff;
		font-family: $default_font2;
		font-weight: 600;
		margin-top: 11px;
		font-size: 19px;
		line-height: 30px;
		a{
			color: #ffffff;
		}
		[class^=icon-]{
			font-size: 16px;
			margin-right: 6px;
		}
	}
	@include media-breakpoint-down(md) {
		width: 100%;
		right: -15px;
		text-align: right;
		br{
			display: none;
		}
		.imginfo__box{
			text-align: left;
			max-width: 272px;
			min-width: 272px;
			left: inherit;
			right: 0px;
			bottom: 0;
			margin-top:-39%;
			padding: 28px 7px 30px 30px;
			position: relative;
			float: right;
		}
		.imginfo__title{
			font-size: 17px;
			line-height: 27px;
			padding-bottom: 6px;
		}
		address{
			font-size: 17px;
			line-height: 27px;
		}
	}
	@include media-breakpoint-down(sm) {
		right: inherit;
		text-align: left;
		max-width: 420px;
		margin-left: -15px;
		.imginfo__box{
			margin-top:-34px;
			float: inherit;
			max-width: calc(100% - 30px);
			min-width: inherit;
			padding: 29px 27px 29px 28px;
		}
		width: calc(100% + 30px);
		.imginfo__img{
			img{
				max-width: inherit;
				width: 100%;
			}
		}
		.imginfo_title{
			font-size: 16px;
			line-height: 26px;
			padding-bottom: 6px;
		}
		address{
			font-size: 16px;
			line-height: 26px;
		}
	}
}