.img-double{
	position: relative;
	.img-double_subimg{
		left:-12%;
		bottom: 13%;
		width: 100%;
		position: absolute;
		img{
			max-width: inherit;
			width: 54%;
			box-shadow: 40px 40px 50px rgba(0, 0, 0, 0.2);
		}
	}
}
.img-double__indent01{
	@media (min-width: 1460px){
		margin-left: -60px;
	}
	@include media-breakpoint-up(lg) {
		margin-right: 29px;
	}
}