.info-list__top{
	margin-top: 15px;
}
.info-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	margin-left: -30px;
	&.info-list__top{
		margin-top: 0px;
	}
	.info-list__item{
		margin-left: 28px;
		margin-top: 30px;
	}
	@include media-breakpoint-down(sm) {
		margin-left: -20px;
		.info-list__item{
			margin-left: 20px;
			margin-top: 21px;
		}
	}
}
.info-list__item{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	.info-list__icon{
		font-size: 40px;
		color: $default_color;
		margin-top: -8px;
		& + .info-list__description{
			margin-left: 17px;
		}
	}
	.info-list__value{
		color: $default_color02;
		font-size: 28px;
		font-weight: 600;
		font-family: $default_font2;
	}
	.info-list__title{
		color: $default_color02;
		font-size: 16px;
		font-weight: 600;
		font-family: $default_font2;
		margin-top: 2px;
	}
	&:not(:first-child){
		border-left:1px solid $border;
		padding-left: 30px;
	}
	@include media-breakpoint-down(md) {
		.info-list__icon{
			font-size: 31px;
			& + .info-list__description{
				margin-left: 12px;
			}
		}
		.info-list__value{
			font-size: 24px;
			& + .info-list__description{
				margin-left: 7px;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		&:not(:first-child){
			padding-left: 20px;
		}
		.info-list__value{
			font-size: 20px;
			& + .info-list__description{
				margin-left: 7px;
			}
		}
		.info-list__title{
			margin-top: 0;
		}
		.info-list__title{
			font-size: 14px;
		}
	}
}