.tt-logo-layout{
	a{
		display: inline-block;
		padding: 0px 20px;
		opacity: 0.3;
		transition: opacity .4s;
		@include media-breakpoint-down(md) {
			padding: 0px 10px;
		}
		@include media-breakpoint-down(sm) {
			padding: 0px 5px;
		}
		&:hover{
			opacity: 1;
		}
	}
}