/*--------
	Main Slider
--------*/
$mainSlider_height_desctop_lg:                      800px;
$mainSlider_height_thetablet:                       403px;
$mainSlider_height_mobile:                          347px;
.mainSlider-layout{
	position: relative;
	z-index: 1;
	background: #252427;
}
.mainSlider-wrapper{
	position: relative;
	z-index: 1;
	.loading-dots{
		color: $default_color02;
		font-family: $default_font2;
		font-weight: 600;
		@include media-breakpoint-up(lg) {
			font-size: 38px;
			line-height: 38px;
		}
		@include media-breakpoint-down(md) {
			font-size: 25px;
			line-height: 25px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 22px;
			line-height: 22px;
		}
	}
}
.mainSlider{
	@include media-breakpoint-up(md) {
		height: $mainSlider_height_desctop_lg;
	}
	@include media-breakpoint-down(md) {
		height:$mainSlider_height_thetablet;
	}
	@include media-breakpoint-down(sm) {
		height: $mainSlider_height_mobile;
	}
	.container{
		position: relative;
		@media (min-width: 1025px){
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	@include media-breakpoint-down(lg) {
		.container-fluid-lg{
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.slide{
		.img--holder{
			background-size: cover;
			background-position: center top;
			background-repeat: no-repeat;
			position: relative;
			height: $mainSlider_height_desctop_lg;
			@include media-breakpoint-up(md) {
				height: $mainSlider_height_desctop_lg;
			}
			@include media-breakpoint-down(md) {
				height:$mainSlider_height_thetablet;
			}
			@include media-breakpoint-down(sm) {
				height: $mainSlider_height_mobile;
			}
			transition: transform 6s ease;
			img{
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.slide-content {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-content: stretch;
			align-items: flex-start;
			.container{
				.tt-text-01{
					color: #ffffff;
					font-weight: 600;
					font-family: $default_font2;
					letter-spacing: 0.07em;
				}
				.tt-text-02{
					color: #ffffff;
					font-weight: 600;
					font-family: $default_font2;
				}
				.tt-text-03{
					color: #ffffff;
					max-width: 500px;
				}
				&:not(.text-center):not(.text-right) .tt-row-btn{
					justify-content: flex-start;
					align-content: flex-start;
					align-items: flex-start;
				}
				&.text-center{
					.tt-text-03{
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}
		@include media-breakpoint-up(lg) {
			.slide-content{
				.tt-text-01{
					font-size: 16px;
					line-height: 26px;

				}
				.tt-text-02{
					font-size: 58px;
					line-height: 64px;
					margin-top: 22px;
				}
				.tt-text-03{
					font-size: 16px;
					line-height: 27px;
					margin-top: 24px;
				}
			}
		}
		@include media-breakpoint-down(md) {
			.slide-content{
				.tt-text-01{
					font-size: 14px;
					line-height: 24px;

				}
				.tt-text-02{
					font-size: 38px;
					line-height: 44px;
					margin-top: 15px;
				}
				.tt-text-03{
					font-size: 15px;
					line-height: 24px;
					margin-top: 15px;
				}
			}
		}
		@include media-breakpoint-down(sm) {
			.slide-content{
				.tt-text-01{
					font-size: 12px;
					line-height: 20px;

				}
				.tt-text-02{
					font-size: 28px;
					line-height: 38px;
					margin-top: 15px;
				}
				.tt-text-03{
					font-size: 13px;
					line-height: 20px;
					margin-top: 15px;
				}
			}
		}
	}
	//nav dots
	.slick-dots{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: flex-end;
		width: 100%;
		position: absolute;
		bottom: 90px;
		z-index: 2;
		li{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: stretch;
			align-items: flex-end;
			padding: 0 12px;
			height: 20px;
			> *{
				width: 8px;
				max-width: 8px;
				height: 8px;
				display: block;
				background-color:#ffffff;
				border-radius: 50%;
				font-size: 0;
				line-height: 0;
				box-shadow: none;
				outline: none;
				border: none;
				padding: 0;
				transition: background-color .2s, height .2s, border-radius .2s;
			}
			&:not(.slick-active){
				cursor:pointer;
				> *{
					cursor:pointer;
				}
			}
			&.slick-active,
			&:hover{
				> *{
					background-color:$default_color;
				}
			}
			&.slick-active{
				> *{
					height: 20px;
					border-radius: 4px;
				}
			}
		}
	}
	@include media-breakpoint-down(md) {
		.slick-dots{
			display: none !important;
		}
	}

}
@include media-breakpoint-down(lg) {}

.fadeInLeftSm {
  -webkit-animation-name: fadeInLeftSm;
  animation-name: fadeInLeftSm;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.fadeInRightSm {
  -webkit-animation-name: fadeInRightSm;
  animation-name: fadeInRightSm;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.fadeInUpSm {
  -webkit-animation-name: fadeInUpSm;
  animation-name: fadeInUpSm;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.animated.fadeInLeftSm,
.animated.fadeInRightSm,
.animated.fadeInUpSm {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
@-webkit-keyframes fadeInUpSm {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
  }
}
@keyframes fadeInUpSm {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
  }
}

@-webkit-keyframes fadeInLeftSm {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(-20%, 0, 0);
	transform: translate3d(-20%, 0, 0);
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
  }
}
@keyframes fadeInLeftSm {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(-20%, 0, 0);
	transform: translate3d(-20%, 0, 0);
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
  }
}
@-webkit-keyframes fadeInRightSm {
  from {
	opacity: 0;
	-webkit-transform: translate3d(20%, 0, 0);
	transform: translate3d(20%, 0, 0);
  }
  to {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
  }
}
@keyframes fadeInRightSm {
  from {
	opacity: 0;
	-webkit-transform: translate3d(20%, 0, 0);
	transform: translate3d(20%, 0, 0);
  }
  to {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
  }
}


// loader
body.is-loaded .loading-content {
	opacity: 0;
	visibility: hidden;
}
.loading-content {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 3;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	pointer-events: none;
	visibility: visible;
	transition:all 0.5s;
	&.disable {
		opacity: 0;
	}
	img{
		margin-top: -100px;
	}
	@include media-breakpoint-down(md) {
		img{
			max-width: 45px;
			height: auto;
			margin-top: -30px;
		}
	}
	@media (max-width: 790px){
		img{
			max-width: 35px;
			height: auto;
		}
	}
}

.load-mainslider{
	.mainSlider{
		.slide{
			&.slick-current{
				.img--holder{
					transform: scale(1.2);
				}
			}
		}
	}
}

