/*
	News Obj
*/

.news-obj{
	margin-left: auto;
	margin-right: auto;
	min-width: 30px;
	.tt-link{
		margin-top: 17px;
	}
}
.news-obj__img{
	overflow: hidden;
	img{
		transition: transform 1s;
		width: 100%;
	}
	&:hover{
		img{
			transform: scale3d(1.1,1.1,1);
		}
	}
}
.news-obj__description{
	margin: -80px 0 0 30px;
	padding: 31px 40px 0px 40px;
	background-color: #ffffff;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.news-obj__data{
	font-size: 14px;
	color: $default_color;
	[class^=icon-]{
		margin-right: 11px;
		font-size: 15px;
		position: relative;
		top: 1px;
	}
}
.news-obj__title{
	font-size: 20px;
	line-height: 28px;
	color: $default_color02;
	font-family: $default_font2;
	font-weight: 600;
	margin: 13px 0 0 0;
	padding: 0 0 7px 0;
	a{
		color: $default_color02;
		transition: color .2s;
		&:hover{
			color: $default_color;
		}
	}
	& + *{
		margin-top: 0;
	}
}
@include media-breakpoint-down(md) {
	.news-obj__description{
		margin: -72px 0 0 30px;
		padding: 25px 15px 0px 35px;
	}
	.news-obj__title{
		font-size: 17px;
		line-height: 27px;
		padding-bottom: 16px;
	}
	.news-obj{
		.tt-link{
			margin-top: 12px;
		}
	}
}
@include media-breakpoint-down(sm) {
	.news-obj__description{
		margin: -50px 0 0 20px;
		padding: 25px 5px 0px 25px;
		font-size: 15px;
		line-height: 24px;
	}
	.news-obj__title{
		font-size: 16px;
		line-height: 24px;
		padding-bottom: 8px;
	}
	.news-obj{
		.tt-link{
			margin-top: 12px;
		}
	}
}