.point-box{
	box-shadow: 0 19px 40px rgba(157, 174, 185, 0.15);
	padding: 50px 54px 22px;
	.point-box__title{
		font-size: 16px;
		line-height:24px;
		position: relative;
		color: $default_color02;
		font-family: $default_font2;
		font-weight: 600;
		padding: 0 0 10px 3px;
		.tt-icon{
			font-size: 18px;
			color:$default_color;
			position: absolute;
			left: -25px;
		}
	}
	ul{
		li{
			&:not(:first-child){
				margin-top: 5px;
			}
		}
	}
	@include media-breakpoint-down(md) {
		padding: 30px 40px 22px;
	}
}
.point-box__wrapper{
	margin-top: -30px;
	.point-box{
		margin-top: 30px;
	}
}