.slick-default{
	.slick-dots{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: flex-end;
		width: 100%;
		position: relative;
		z-index: 2;
		margin-top: 40px;
		li{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: stretch;
			align-items: flex-end;
			padding: 0 7px;
			height: 20px;
			> *{
				width: 8px;
				max-width: 8px;
				height: 8px;
				display: block;
				background-color:#ffffff;
				border-radius: 50%;
				font-size: 0;
				line-height: 0;
				box-shadow: none;
				outline: none;
				border: none;
				padding: 0;
				transition: background-color .2s, height .2s, border-radius .2s;
			}
			&:not(.slick-active){
				cursor:pointer;
				> *{
					cursor:pointer;
				}
			}
			&.slick-active,
			&:hover{
				> *{
					background-color:$default_color;
				}
			}
			&.slick-active{
				> *{
					height: 20px;
					border-radius: 4px;
				}
			}
		}
	}
	&.slick-dots-left{
		.slick-dots{
			justify-content: flex-start;
		}
	}
	&.slick-dots-right{
		.slick-dots{
			justify-content: flex-end;
		}
	}
	&.slick-default__dark{
		.slick-dots{
			li{
				> *{
					background-color: #e8e8e8;
				}
				&.slick-active,
				&:hover{
					> *{
						background-color:$default_color;
					}
				}
			}
		}
	}
	&.slick-dotted_indent01{
		.slick-dots{
			margin-top: 21px;
		}
	}
	&.slick-dotted_indent02{
		.slick-dots{
			margin-top: 31px;
		}
	}
	@include media-breakpoint-down(md) {
		.slick-dots{
			margin-top: 49px;
			li{
				height: 12px;
				padding: 0 4px;
				> *{
					width: 5px;
					max-width: 5px;
					height: 5px;
				}
				&.slick-active{
					> *{
						height: 12px;
					}
				}
			}
		}
	}
	@include media-breakpoint-down(sm) {
		&.slick-dots-left{
			.slick-dots{
				justify-content: center;
			}
		}
		&.slick-dots-right{
			.slick-dots{
				justify-content: center;
			}
		}
		.slick-dots{
			margin-top: 35px;
			justify-content: center;
			li{
				height: 12px;
				padding: 0 4px;
				> *{
					width: 5px;
					max-width: 5px;
					height: 5px;
				}
				&.slick-active{
					> *{
						height: 12px;
					}
				}
			}
		}
	}
}
.slick-slide{
	height: auto;
}
.slick-slider{
	.slick-slide{
		outline: none;
	}
}



.slick-default-inner{
	.slick-dots{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: flex-end;
		width: 100%;
		position: absolute;
		z-index: 2;
		bottom: 40px;
		li{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: stretch;
			align-items: flex-end;
			padding: 0 7px;
			height: 20px;
			> *{
				width: 8px;
				max-width: 8px;
				height: 8px;
				display: block;
				background-color:#ffffff;
				border-radius: 50%;
				font-size: 0;
				line-height: 0;
				box-shadow: none;
				outline: none;
				border: none;
				padding: 0;
				transition: background-color .2s, height .2s, border-radius .2s;
			}
			&:not(.slick-active){
				cursor:pointer;
				> *{
					cursor:pointer;
				}
			}
			&.slick-active,
			&:hover{
				> *{
					background-color:$default_color;
				}
			}
			&.slick-active{
				> *{
					height: 20px;
					border-radius: 4px;
				}
			}
		}
	}
	&.slick-dots-left{
		.slick-dots{
			justify-content: flex-start;
		}
	}
	&.slick-dots-right{
		.slick-dots{
			justify-content: flex-end;
		}
	}
	&.slick-default__dark{
		.slick-dots{
			li{
				> *{
					background-color: #e8e8e8;
				}
				&.slick-active,
				&:hover{
					> *{
						background-color:$default_color;
					}
				}
			}
		}
	}
	&.slick-dotted_indent01{
		.slick-dots{
			margin-top: 21px;
		}
	}
	&.slick-dotted_indent02{
		.slick-dots{
			margin-top: 31px;
		}
	}
	@include media-breakpoint-down(md) {
		.slick-dots{
			bottom: 20px;
			li{
				height: 12px;
				padding: 0 4px;
				> *{
					width: 5px;
					max-width: 5px;
					height: 5px;
				}
				&.slick-active{
					> *{
						height: 12px;
					}
				}
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.slick-dots{
			li{
				height: 12px;
				padding: 0 4px;
				> *{
					width: 5px;
					max-width: 5px;
					height: 5px;
				}
				&.slick-active{
					> *{
						height: 12px;
					}
				}
			}
		}
	}
}

