.tabs-default{
	.nav-tabs{
		margin: 0 -10px -11px;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: flex-start;
		li{
			margin-left: 10px;
			margin-right: 10px;
			box-shadow: none;
			a {
				background-color: #ffffff;
				transition: .2s linear;
				padding: 31px 53px;
				display: inline-block;
				box-shadow:0 19px 40px rgba(157,174,185,.0);
				.tt-large{
					font-size: 20px;
					line-height: 1;
					font-weight: 600;
					font-family: $default_font2;
					color: $default_color02;
				}
				.tt-small{
					color: #7b7b7b;
				}
				span{
					display: block;
				}
				&:hover{
					.tt-large{
						color: $default_color;
						display: block;
					}
					.tt-small{
						color: #7b7b7b;
						display: block;
					}
				}
				&.active{
					background-color: $default_color03;
					.tt-large{
						color: $default_color;
					}
				}
				&:not(.active){
					box-shadow:0 19px 40px rgba(157,174,185,.15);
				}
			}
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
		}
		&.nav-tabs__right{
			justify-content: flex-end;
		}
		&.nav-tabs__center{
			justify-content: center;
		}
	}
	.tab-content{
		margin-top: -11px;
		@include media-breakpoint-down(sm) {
			margin-top: -15px;
		}
		.tab-pane:not(.active){
			display: none
		}
	}
	@include media-breakpoint-down(md) {
		.nav-tabs{
			li{
				margin-left: 5px;
				margin-right: 5px;
				a{
					padding: 29px 35px 26px;
					.tt-large{
						font-size: 17px;
					}
				}
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.nav-tabs{
			margin: 0 0 -15px 0;
			li{
				width: 100%;
				margin: 0;
				a{
					display: block;
					text-align: center;
					width: 100%;
					padding: 24px 15px 23px;
					.tt-large{
						font-size: 16px;
					}
				}
			}
		}
	}
	@include media-breakpoint-down(xs) {
		margin-top: -7px;
	}
}
.tabs-default02{
	.nav-tabs{
		margin: 0 -10px -11px;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: flex-start;
		li{
			margin-left: 10px;
			margin-right: 10px;
			box-shadow: none;
			width: calc(33.333% - 20px);
			a {
				background-color: #ffffff;
				transition: .2s linear;
				padding: 39px 53px 37px 40px;
				display: block;
				box-shadow:0 19px 40px rgba(157,174,185,.0);
				.tt-large{
					font-size: 20px;
					line-height: 1;
					font-weight: 600;
					font-family: $default_font2;
					color: $default_color02;
				}
				.tt-small{
					color: #7b7b7b;
					margin-top: 10px;
				}
				span{
					display: block;
				}
				&:hover{
					.tt-large{
						color: $default_color;
						display: block;
					}
					.tt-small{
						color: #7b7b7b;
						display: block;
					}
				}
				&.active{
					background-color: $default_color03;
					.tt-large{
						color: $default_color;
					}
				}
				&:not(.active){
					box-shadow:0 19px 40px rgba(157,174,185,.15);
				}
			}
		}
		&.nav-tabs__right{
			justify-content: flex-end;
		}
		&.nav-tabs__center{
			justify-content: center;
		}
		@include media-breakpoint-down(md) {
			margin-top: 7px;
		}
	}
	.tab-content{
		margin-top: -11px;
		@include media-breakpoint-down(sm) {
			margin-top: -15px;
		}
		.tab-pane:not(.active){
			display: none
		}
	}
	@include media-breakpoint-down(md) {
		.nav-tabs{
			li{
				a{
					padding: 22px 30px 19px;
					min-height: 112px;
					.tt-large{
						font-size: 17px;
					}
					.tt-small{
						margin-top: 6px;
					}
				}
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.nav-tabs{
			margin: 0 0 -15px 0;
			li{
				width: 100%;
				margin: 0;
				a{
					display: block;
					text-align: center;
					width: 100%;
					padding: 24px 15px 23px;
					min-height: inherit;
					font-size: 16px;
					.tt-large{
						font-size: 16px;
					}
					.tt-small{
						display: none !important;
					}
				}
			}
		}
	}
}
.tab-layout01{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	background-color: $default_color03;
	.tab-layout01__img{
		width: 56.5%;
		padding-right: 25px;
		img{
			margin-top: -81px;
			max-width: 100%;
			height: auto;
		}
	}
	.tab-layout01__descriptions{
		width: 43.5%;
		padding:87px 15px 87px 0;
		max-width: 472px;
	}
	.tab-layout01__title{
		font-size: 36px;
		line-height: 1;
		font-family: $default_font2;
		color: $default_color02;
		margin: 0;
		padding: 0 0 26px 0;
		& + *{
			margin-top: 0;
		}
	}
	.tt-icon-list{
		margin-top: 0px;
	}
	@include media-breakpoint-down(lg) {
		.tab-layout01__img{
			width: 50%;
		}
		.tab-layout01__descriptions{
			width: 50%;
		}
	}
	@include media-breakpoint-down(md) {
		.tab-layout01__img{
			width: 45%;
			img{
				margin-top: -32px;
			}
		}
		.tab-layout01__descriptions{
			padding:52px 15px 60px 0;
			width: 55%;
			max-width: inherit;
		}
		.tab-layout01__title{
			font-size: 30px;
			line-height: 38px;
			padding: 0 0 16px 0;
		}
	}
	@include media-breakpoint-down(sm) {
		flex-wrap: wrap;
		padding:45px 0;
		.tab-layout01__img{
			padding-right: 0;
			width: 100%;
			img{
				margin: 0;
			}
			text-align: center;
		}
		.tab-layout01__descriptions{
			width: 100%;
			max-width: inherit;
			padding:0px 15px;
			text-align: center;
		}
		.tab-layout01__title{
			font-size: 24px;
			line-height: 34px;
			padding: 0 0 16px 0;
			text-align: left;
		}
		p{
			text-align: left;
		}
	}
}
.tab-layout02{
	padding:60px 0 120px;
	background-color: $default_color03;
	background-position: 89% 0%;
	background-repeat: no-repeat;
	@include media-breakpoint-down(lg) {
		background-position: right bottom;
	}
	@include media-breakpoint-down(md) {
		background-size: 60%, 60%;
		padding:53px 0 80px;
	}
	@media (max-width: 790px){
		padding:60px 0 59px;
	}
	@include media-breakpoint-down(sm) {
		background-size: 70%, 70%;
	}
}
