.blog-single__meta{
	margin-top: 30px;
	@include media-breakpoint-down(sm) {
		margin-top: 13px;
	}
}

.blog-post-nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	position: relative;
	@include media-breakpoint-up(xl) {
		&:before{
			content: '';
			width: 1px;
			height: 100%;
			background-color: $default_color03;
			position: absolute;
			top: 0;
			left: 50%;
		}
	}
	.tt-item{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		.tt-item__img{
			min-width: 118px;
		}
		&:first-child{
			padding-right: 22px;
			.tt-item__img{
				& + .tt-item__description{
					margin-left: 20px;
				}
			}
		}
		&:last-child{
			padding-left: 22px;
			.tt-item__img{
				& + .tt-item__description{
					margin-right: 20px;
					text-align: right;
				}
			}
			.tt-item__img{
				order:2;
			}
			.tt-item__description{
				order:1;
			}
		}
		&:hover{
			.tt-item__label{
				&:before{
					width: 100%;
				}
			}
			.tt-item__title{
				color: $default_color;
			}
		}
	}
	.tt-item__label{
		color: $default_text_color;
		font-size: 16px;
		line-height:26px;
		position: relative;
		display: inline-block;
		&:before{
			content: '';
			display: block;
			position: absolute;
			bottom: 3px;
			width: 0%;
			height: 1px;
			margin: auto;
			left: 0;
			right: 0;
			background-color: $default_text_color;
			transition: width 0.2s linear;
		}
	}
	.tt-item__title{
		color: $default_color02;
		font-family: $default_font2;
		font-weight: 600;
		margin-top: 6px;
		font-size: 16px;
		line-height: 24px;
		transition: color 0.2s linear;
	}
	@include media-breakpoint-down(lg) {
		.tt-item{
			align-content: flex-start;
			align-items: flex-start;
			.tt-item__img{
				min-width: 100px;
				max-width: 100px;
			}
			&:first-child{
				padding-right: 10px;
			}
			&:last-child{
				padding-left: 10px;
			}
		}
		.tt-item__description{
			margin-top: -6px;
		}
		.tt-item__title{
			font-size: 14px;
			line-height: 21px;
			margin-top: 0;
		}
	}
	@include media-breakpoint-down(sm) {
		.tt-item{
			.tt-item__img{
				display: none;
			}
			&:first-child{
				.tt-item__img + .tt-item__description{
					margin-left: 0;
				}
			}
			&:last-child{
				.tt-item__img + .tt-item__description{
					margin-right: 0;
				}
			}
		}
		.tt-item__label{
			font-size: 14px;
			line-height: 24px;
		}
		.tt-item__title{
			font-size: 13px;
			line-height: 20px;
		}
	}
}

hr{
	border: none;
	font-size: 0;
	line-height: 0;
	height: 1px;
	width: 100%;
	background-color: $border;
	&.blog-post__hr{
		margin: 40px 0 38px 0;
	}
	@include media-breakpoint-down(sm) {
		&.blog-post__hr{
			margin: 30px 0 29px 0;
		}
	}
}
.section__singleblog{
	margin-top: 40px;
}



/*personal*/
.personal{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-start;
	background-color: $default_color03;
	padding:35px 40px 30px;
	.personal__col-img{
		min-width: 140px;
		max-width: 140px;
		position: relative;
		.personal__social{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;
			align-items: flex-start;
			position: absolute;
			bottom: 0;
			background-color: #ffffff;
			padding: 10px;
			box-shadow: 0 19px 40px rgba(157, 174, 185, 0.15);
			width: 100%;
			transform: translateY(100%);
			li{
				a{
					color: #83858e;
					transition: color 0.2s linear;
					display: inline-block;
					padding: 7px 9px;
					&:hover{
						color: $default_color;
					}
				}
			}
		}
		& + .personal__col-description{
			margin-left: 50px;
		}
	}
	.personal__col-description{
		padding-top: 6px;
	}
	.personal__title{
		font-size: 20px;
		line-height: 24px;
		color: $default_color02;
		font-family: $default_font2;
		font-weight: 600;
		margin: 0;
		padding: 0 0 14px 0;
		& + *{
			margin-top: 0;
		}
	}
	&.personal__top{
		margin-top: 58px;
		@include media-breakpoint-down(sm) {
			margin-top: 53px;
		}
	}
	@include media-breakpoint-down(md) {
		padding:25px 20px 25px;
		.personal__col-img + .personal__col-description{
			margin-left: 25px;
		}
		.personal__col-description{
			padding-top: 0;
			margin-top: -4px;
		}
		.personal__title{
			font-size: 18px;
			line-height: 22px;
			padding-bottom: 7px;
		}
		.personal__col-img{
			min-width: 120px;
			max-width: 120px;
			.personal__social{
				position: relative;
				transform: translateY(0%);
			}
		}
	}
	@include media-breakpoint-down(sm) {
		flex-wrap: wrap;
		.personal__col-img + .personal__col-description{
			margin-left: 0px;
		}
		.personal__col-img{
			width: 100%;
			min-width: inherit;
			max-width: inherit;
			img{
				width: 100%;
			}
		}
		.personal__col-description{
			width: 100%;
			padding: 18px 0 0 0;
		}
	}
}



/*
	Comments Layout
*/
.tt-comments-layout__top{
	margin-top: 77px;
	@include media-breakpoint-down(sm) {
		margin-top: 55px;
	}
}
.tt-comments-layout{
	@media (min-width: 1240px){
		margin-right: 22px;
	}
	.tt-comments-layout__title{
		font-size: 20px;
		line-height: 30px;
		font-weight: 600;
		font-family:$default_font2;
		color: #3D3B42;
	}
	.tt-item{
		div[class^="tt-comments-level-"]{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: flex-start;
			.tt-avatar{
				width: 86px;
				min-width: 86px;
				height: auto;
				overflow: hidden;
				position: relative;
				z-index: 2;
				img{
					position: relative;
					z-index: 2;
					max-width: 100%;
					height: auto;
				}
			}
			.tt-content{
				position: relative;
				z-index: 1;
				border: 1px solid $border;
				margin-left: -1px;
				padding:25px 35px 22px;
				.tt-btn-default{
					position: absolute;
					right: 0;
					top: -2px;
					background-color: $default_color;
					font-family: $default_font2;
					border:1px solid $default_color;
					font-weight: 600;
					color: #ffffff;
					border-radius:3px;
					padding:2px 5px 3px;
					font-size: 14px;
					line-height: 18px;
					transition: background-color .2s, color .2s;
					&:hover{
						background-color: transparent;
						color: $default_color;
					}
				}
				.tt-comments-title{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: flex-start;
					align-content: flex-start;
					align-items: flex-start;
					padding-bottom: 10px;
					& + *{
						margin-top: 0;
					}
					.username{
						display: block;
						font-family: $default_font2;
						font-weight: 600;
						color: $default_color02;
						font-size: 16px;
						line-height: 24px;
					}
					.time{
						font-size: 14px;
						line-height: 24px;
						color: #a0a0a0;
						margin-left: 4px;
						position: relative;
						top: 1px;
					}
				}
				.tt-link02{
					margin-top: 9px;
				}
				> *:nth-child(1){
					margin-top: 0;
				}
			}
		}
	}
	.tt-item{
		margin-top: 19px;
	}
	.tt-comments-level-2{
		margin-left: 55px;
		margin-top: 19px;
	}
	@include media-breakpoint-down(md) {
		.tt-comments-level-2{
			margin-left: 40px;
		}
		.tt-item{
			div[class^="tt-comments-level-"]{
				.tt-avatar{
					width: 70px;
					min-width: 70px;
				}
				.tt-content{
					padding-left: 25px;
					padding-right: 25px;
				}
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.tt-comments-layout__title{
			font-size: 20px;
			line-height: 27px;
		}
		.tt-item{
			div[class^="tt-comments-level-"]{
				flex-direction: column;
				.tt-content{
					margin-top: 10px;
					.tt-comments-title{
						.username{
							width: 100%;
						}
						.time{
							margin: 0px 0 0 0;
						}
					}
				}
			}
			.tt-comments-level-2{
				margin-top: 25px;
			}
		}
		.tt-item:not(:first-child){
			margin-top: 10px;
		}
		.tt-item:not(:last-child){
			padding-bottom: 9px;
		}
		.tt-comments-level-2{
			margin-top: 2px;
			margin-left: 40px;
		}
	}
}


/*
	Form Single Post
*/
.form-single-post__top{
	margin-top: 59px;
	@include media-breakpoint-down(sm) {
		margin-top: 52px;
	}
}
.form-single-post{
	max-width: 570px;
	.tt-form-title{
		font-size: 20px;
		line-height: 30px;
		font-weight: 600;
		font-family:$default_font2;
		color: #3D3B42;
		margin: 0;
		padding: 0 0 22px 0;
	}
	textarea{
		height: 137px;
	}
	.form-default button[type=submit]{
		margin-top: 14px;
		@include media-breakpoint-down(sm) {
			margin-top: 5px;
		}
	}
}
