.tt-logo{
	line-height: 1;
	color: #323232;
	font-family: $default_font2;
	font-weight: 600;
	display: inline-block;
	position: relative;
	transition: color .2s;
	letter-spacing: 0.01em;
	.tt-icon{
		position: absolute;
		top: -4px;
		left: 0;
	}
	&:hover{
		color: $default_color;
	}
	@media (min-width: 1471px){
		font-size: 38px;
		padding:0 0 2px 22px;
	}
	@media (max-width: 1470px){
		padding:0 0 2px 18px;
		.tt-icon{
			max-width: 26px;
		}
		font-size: 33px;
	}
	@include media-breakpoint-down(sm) {
		padding:0 0 2px 17px;
		.tt-icon{
			max-width: 24px;
			top: -3px;
		}
		font-size: 27px;
		letter-spacing: 0.02em;
	}
}
