#tt-nav{
	position: relative;
	> ul{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: center;
		//level 01
		> li{
			display: inline-block;
			font-family: $default_font2;
			font-weight: 600;
			> a{
				display: inline-block;
				font-size: 16px;
				line-height: 21px;
				color: $default_color02;
				padding: 30px 21px 32px;
				text-decoration: none;
				span{
					display: inline-block;
				}
				&:hover{
					color: $default_color;
				}
			}
			ul{
				position: absolute;
				z-index: 5;
				top: 100%;
				left: 0;
				width: 210px;
				margin-top: 32px;
				padding-top: 14px;
				padding-bottom: 15px;
				background: #fff;
				box-shadow: 0 19px 40px rgba(157,174,185,.15);
				transition: all .3s;
				opacity: 0;
				visibility: hidden;
				transform: translateY(20px);
				transition-property: all;
				transition-duration: .2s;
				transition-delay: 0s;
				li{
					margin: 0;
					padding: 0;
					a{
						font-size: 14px;
						line-height: 25px;
						display: block;
						color: #3D3B42;
						font-family:$default_font2;
						padding: 2px 23px;
						transition: color .2s;
						&:hover{
							color: $default_color;
						}
					}
				}
			}
			&.active{
				color: $default_color;
			}
			&:hover{
				ul{
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
					transition-delay: .15s;
				}
			}
		}
	}
	@media (max-width: 1770px){
		> ul{
			> li{
				> a{
					padding: 30px 15px 32px;
				}
			}
		}
	}
	@media (max-width: 1570px){
		> ul{
			> li{
				> a{
					padding: 30px 12px 32px;
				}
			}
		}
	}
	@media (max-width: 1470px){
		> ul{
			> li{
				> a{
					padding: 30px 10px 32px;
				}
			}
		}
	}
	@media (max-width: 1360px){
		display: none;
	}
}
#tt-nav__line{
	display: block;
	position: absolute;
	height: 6px;
	width: 41px;
	background: $default_color;
	opacity: 1;
	transition: width .3s linear, left .3s linear;
	pointer-events: none;
	@media (min-width: 1025px){
		margin-top: 26px;
	}
}
