#subtitle-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	width: 100%;
	height: 248px;
	z-index: 1;
	position: relative;
	z-index: 2;
	background-image: url('../images/subtitle-wrapper01.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #5f5e63;
	.subtitle__title{
		font-size: 58px;
		line-height: 64px;
		color: #ffffff;
		font-family: $default_font2;
		font-weight: 600;
		margin: 0;
		padding: 0;
		position: relative;
		margin-top: 20px;
	}
	@include media-breakpoint-down(md) {
		height: 200px;
		.subtitle__title{
			font-size: 43px;
			line-height: 49px;
			margin-top: 15px;
		}
	}
	@include media-breakpoint-down(sm) {
		height: 170px;
		.subtitle__title{
			font-size: 33px;
			line-height: 39px;
			margin-top: 11px;
		}
	}
}
.tt-breadcrumbs{
	ul{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
	}
	li{
		color: #ffffff;
		font-family: $default_font2;
		font-weight: 600;
		font-size: 16px;
		letter-spacing: 0.07em;
		a{
			color: #ffffff;
		}
		&:not(:first-child){
			padding-left: 19px;
			&:before{
				content: '/';
				display: inline-block;
				margin-right: 19px;
			}
		}
		a{
			display: inline-block;
			position: relative;
			&:before{
				content: '';
				display: block;
				position: absolute;
				bottom: 1px;
				width: 0%;
				height: 2px;
				margin: auto;
				left: 0;
				right: 0;
				background-color: #ffffff;
				transition: width .2s linear;
			}
			&:hover{
				&:before{
					width: 100%;
				}
			}
		}
		@include media-breakpoint-down(md) {
			letter-spacing: 0.04em;
			&:not(:first-child){
				padding-left: 10px;
				&:before{
					margin-right: 10px;
				}
			}
		}
		@include media-breakpoint-down(md) {
			font-size: 15px;
			letter-spacing: 0;
			&:not(:first-child){
				padding-left: 10px;
				&:before{
					margin-right: 10px;
				}
			}
		}
	}
}