#tt-footer{
	position: relative;
	.tt-logo{
		margin: 8px 0 0 0;
		@include media-breakpoint-down(lg) {
			font-size: 30px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 27px;
			letter-spacing: 0;
		}
	}
	form{
		padding:0;
		margin: 0;
		display: inline-flex;
	}
	.text-f{
		@include media-breakpoint-up(lg) {
			padding-right: 50px;
		}
	}
}
.footer-wrapper01{
	background-position: no-repeat;
	background-repeat: no-repeat;
	padding: 118px 0 0 0;
	@include media-breakpoint-down(md) {
		padding: 80px 0 0 0;
	}
	@include media-breakpoint-down(md) {
		background: none !important;
		padding: 60px 0 0 0;
	}
}
.footer-wrapper02{
	background-color:#ffffff;
	background-position: no-repeat;
	background-repeat: no-repeat;
	@include media-breakpoint-up(md) {
		margin-top: -4px;
	}
}
.f-holder{
	background-color: #515b68;
	color: #cad3db;
	padding: 70px 0 119px;
	address{
		color: #cad3db;
		font-weight: normal;
		p{
			margin-top: 18px;
		}
		strong{
			font-family: $default_font2;
			font-weight: 600;
		}
		a{
			color: #ffffff;
			[class^="icon-"]{
				color: #c7cbcf;
				margin-right: 4px;
			}
			&:hover{
				color: #ffffff;
			}
		}
	}
	.row{
		margin-top: -26px;
		[class^="col-"]{
			margin-top: 26px;
		}
	}
	@include media-breakpoint-down(md) {
		padding: 54px 0 96px;
	}
	@include media-breakpoint-down(sm) {
		padding: 54px 0 60px;
	}
}

.f-title{
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;
	font-family: $default_color02;
	font-weight: 600;
	letter-spacing: 0.06em;
	margin: 0;
	padding: 0 0 15px 0;
	& + *{
		margin-top: 0;
	}
	@include media-breakpoint-down(md) {
		font-size: 17px;
		line-height: 27px;
		letter-spacing: 0.04em;
	}
	@include media-breakpoint-down(sm) {
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.04em;
	}
}


/*
	Subscribe Form
*/
.subscribeform-wrapper{
	background: #ffffff;
	box-shadow: 0 19px 40px rgba(157,174,185,.15);
	padding: 28px 37px 29px 37px;
	width: 100%;
	position: relative;
	overflow: hidden;
	@include media-breakpoint-up(md) {
		transform: translateY(-50%);
	}
	@include media-breakpoint-down(lg) {
		padding: 18px 27px 20px 27px;
	}
	@include media-breakpoint-down(sm) {
		text-align: center;
		padding: 31px 0px 20px 0px;
	}
}
.subscribeform-align-right{
	text-align: right;
	@include media-breakpoint-down(sm) {
		text-align: center;
	}
}
.f-form{
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-right: 12px;
	> *:not(:first-child){
		margin-left: 20px;
	}
	.form-control.error{
		border-color: red;
		box-shadow:none;
	}
	label.error{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			position: absolute;
			top: 50px;
			padding: 5px 12px 4px;
			background: red;
			color: #ffffff;
			font-size: 14px;
			line-height: 22px;
			z-index: 1;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			text-align: center;
			&:after{
				content: '';
				position: absolute;
				top: -12px;
				left: 50%;
				border: 6px solid transparent;
				border-bottom: 6px solid #f8353e;
			}
		}
	.f-form__label{
		font-size: 20px;
		font-family: $default_font2;
		color: $default_color02;
		font-weight: 600;
		position: relative;
	}
	.f-form__input{
		width: 294px;
		position: relative;
		.form-control{
			background: #ffffff;
			color: #a8a8a8;
			border: 1px solid #e3e6ea;
			font-size: 16px;
			line-height: 19px;
			box-shadow:none;
			outline: none;
			transition:all 0.2s linear;
			border-radius: $radius;
			width: 100%;
			height: 51px;
			padding:7px 12px 6px 19px;
			font-family:$default_font;
		}
	}
	@include media-breakpoint-down(lg) {
		.f-form__label{
			font-size: 20px;
		}
		.f-form__input{
			width: 270px;
		}
	}
	@include media-breakpoint-down(md) {
		padding: 0px;
		> *:not(:first-child){
			margin-left: 13px;
		}
		.f-form__input{
			width: 196px;
		}
		.f-form__label{
			font-size: 17px;
			padding-right: 0px;
		}
		.f-form__input{
			.form-control{
				height: 41px;
				font-size: 15px;
				padding: 10px 14px 10px;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		flex-wrap: wrap;
		justify-content: center;
		padding: 22px 15px 14px;
		> *:not(:first-child){
			margin-left: 0px;
		}
		.f-form__input{
			width: 100%;
			.form-control{
				width: 100%;
			}
		}
		.f-form__label{
			width: 100%;
			padding-bottom: 16px;
			letter-spacing: 0;
		}
		.f-form__btn{
			margin: 20px 0 0 0;
		}
		.f-form__btn{
			.tt-btn{
				.tt-short-text{
					display: none;
				}
			}
		}
	}
}

/*
	Footer objects
*/

.f-holder{
	position: relative;
	overflow: hidden;
	margin-left: 0;
	margin-right: 0;
}



/*
	Nav
*/
.f-nav{
	max-width: 320px;
	li{
		color: $default_color02;
		padding: 0 10px 0 20px;
		position: relative;
		width: 50%;
		float: left;
		font-family: $default_font2;
		font-weight: 600;
		&:before{
			content: '\e91f';
			font-family: $default_font_icon;
			color: #ffffff;
			position: absolute;
			top: 9px;
			left: 0px;
			font-size: 7px;
			line-height: 1;
		}
		&:nth-child(even){
			@include media-breakpoint-up(lg) {
				width: calc(50% - 34px);
				margin-left: 34px;
			}
			@include media-breakpoint-down(md) {
				width: calc(50% - 20px);
				margin-left: 20px;
			}
		}
		a{
			color: #ffffff;
			transition: color .2s linear;
			span{
				display: inline-block;
				position: relative;
				&:before{
					content: '';
					display: block;
					position: absolute;
					bottom: 2px;
					width: 0%;
					height: 2px;
					margin: auto;
					left: 0;
					right: 0;
					background-color: #ffffff;
					transition: width .2s linear;
				}
			}
			&:hover{
				color: ffffff;
				span{
					&:before{
						width: 100%;
					}
				}
			}
		}
		&.active{
			a{
				color: ffffff;
				span{
					&:before{
						width: 100%;
					}
				}
			}
		}
		&:not(:first-child){
			margin-top: 4px;
		}
	}
	@include media-breakpoint-down(md) {
		li{
			padding: 0 0 0 14px;
			&:before{
				font-size: 6px;
			}
			a{
				font-size: 14px;
			}
		}
	}
	@media (max-width: 575px){
		padding-left: 0px;
		padding-right:0px;
		margin-top: 0px;
		li{
			text-align: left;
			padding-right: 27px;
		}

	}
}
/*
	Copyright
*/
.f-copyright{
	margin-top: -26px;
	padding-bottom: 27px;
	margin-left: 0;
	margin-right: 0;
	@include media-breakpoint-down(lg) {
		font-size: 15px;
		margin-top: -15px;
		padding-bottom: 27px;
	}
	@include media-breakpoint-down(md) {
		margin-top: -13px;
		padding-bottom: 27px;
	}
	@include media-breakpoint-down(sm) {
		margin-top: 0px;
		margin-bottom: 0;
		padding: 30px 0 29px;
		text-align: center;
		> *{
			text-align: center;
			&:not(:first-child){
				margin-top: 13px;
			}
		}
	}
}

/*
	Social
*/
.f-social{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	margin-left: -12px;
	margin-top: 11px;
	li{
		a{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			font-size: 18px;
			line-height: 18px;
			width: 44px;
			height: 44px;
			color: #ffffff;
			background-color:rgba(255,255,255,0.3);
			transition: color .2s linear, background-color .2s linear;
			border-radius: 3px;
			&:hover{
				background-color:rgba(255,255,255,1);
				color: $default_color02
			}
		}
		margin-left: 12px;
		margin-top: 14px;
	}
	@include media-breakpoint-down(md) {
		margin-left: -11px;
		li{
			a{
				font-size: 16px;
				line-height: 16px;
				width: 38px;
				height: 38px;
			}
			margin-left: 11px;
			margin-top: 11px;
		}
	}
}

